{
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "Migration/M201014141725CreateSettings.php"
        ]
    },
    "logs": {
        "text": "php:\/\/stderr",
        "badge": {
            "branch": "master"
        }
    },
    "mutators": {
        "@default": true
    }
}
